html {
	width: 98%;
}
h2.title {
	text-align: center;
	padding: 0px;
}
div.timewheel {
	padding-left: 0.7cm;
}
div.padding-bottom {
	padding-bottom: 0.5cm;
}
g.radarBrush .extent {
    fill: #1f77b4 !important;
}
p {
	text-align: center;
}
p.numberDisplay {
	font-size: 22px;
	text-align: center;
}
circle.invisible {
	fill-opacity: 0 !important;
}
circle.passed {
	fill: #31D66C !important;
}
circle.failed {
	fill: #FF5E57 !important;
}
.invisible {
	opacity: 0 !important;
}
.passed {
	stroke: #31D66C !important;
	color: #31D66C !important;
}
.failed {
	stroke: #FF5E57 !important;
	color: #FF5E57 !important;
}
button.rigth {
	float:right;
}
button.no-radius {
	border-radius: 0px;
}