html {
	width: 98%;
}
div.panel, .panel-default {
	border: none;
	margin: 0.5cm;
}
div.panel-body {
	padding-top: -0.5px !important;
	padding-bottom: 2.9px !important;
}
div.panel-heading {
	border: 1px solid #ddd !important;
	border-radius: 3px !important;
}
h2.title {
	text-align: center;
	padding: 0px;
}
h4 {
	font-weight: lighter;
}
div.timewheel {
	padding-left: 2cm;
}
div.plotlines {
	position: absolute;
	right: 1cm;
	top: 5cm;
}
div.background {
	margin-right: 3cm;
}
div.padding-bottom {
	padding-bottom: 0.5cm;
}
div.box {
	margin: 0.2cm;
}
div.check-container {
	/*margin-top: -0.05cm;*/
	padding-right: 1cm;
	border: 0.2px solid grey;
	background-color: #fff;
	padding: 0.18cm; 
}
g.radarBrush .extent {
	fill: #1f77b4 !important;
}
p.small {
	font-size: 10px;
	font-weight: normal;
	text-align: center;
}
p.numberDisplay {
	font-size: 17px;
	text-align: center;
}
circle.invisible {
	fill-opacity: 0 !important;
}
circle.passed {
	fill: #31D66C !important;
}
circle.failed {
	fill: #FF5E57 !important;
}
circle.selected {
	fill: #000 !important;
}
.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px; 
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; 
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f; 
}
.checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c; 
}
.invisible {
	opacity: 0 !important;
}
.passed {
	stroke: #31D66C !important;
	color: #31D66C !important;
}
.failed {
	stroke: #FF5E57 !important;
	color: #FF5E57 !important;
}
.selected {
	/*stroke: #000 !important;*/
	color: #000 !important;
}
button.rigth {
	float:right;
}
button.no-radius {
	border-radius: 0px;
}