html {
	width: 98%;
}
h2.title {
	text-align: center;
	padding: 0px;
}
h4 {
	font-weight: lighter;
}
div.timewheel {
	padding-left: 0.7cm;
}
div.padding-bottom {
	padding-bottom: 0.5cm;
}
g.radarBrush .extent {
	fill: #1f77b4 !important;
}
p {
	text-align: center;
}
p.numberDisplay {
	font-size: 22px;
	text-align: center;
}
circle.invisible {
	fill-opacity: 0 !important;
}
circle.passed {
	fill: #31D66C !important;
}
circle.failed {
	fill: #FF5E57 !important;
}
.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px; 
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px; 
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f; 
}
.checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c; 
}
.invisible {
	opacity: 0 !important;
}
.passed {
	stroke: #31D66C !important;
	color: #31D66C !important;
}
.failed {
	stroke: #FF5E57 !important;
	color: #FF5E57 !important;
}
button.rigth {
	float:right;
}
button.no-radius {
	border-radius: 0px;
}